<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5>ABOUT GULAHMED</h5>
                <ul class="list-unstyled">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">COMPANY</a></li>
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="#">STORE LOCATOR</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>MY ACCOUNT</h5>
                <ul class="list-unstyled">
                    <li><a href="#">LOGIN</a></li>
                    <li><a href="#">CREATE ACCOUNT</a></li>
                    <li><a href="#">ACCOUNT INFO</a></li>
                    <li><a href="#">ORDER HISTORY</a></li>
                    <li><a href="#">ORDER STATUS</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>CUSTOMER CARE</h5>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">SHIPPING POLICY</a></li>
                    <li><a href="#">CUSTOMER FEEDBACK</a></li>
                    <li><a href="#">REQUEST A CALL BACK</a></li>
                    <li><a href="#">COMPLAINT/INQUIRY FORM</a></li>
                    <li><a href="#">RETURN & EXCHANGE POLICY</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>FIND US ON</h5>
                <ul class="list-unstyled social-icons">
                    <li><a href="#">FACEBOOK</a></li>
                    <li><a href="#">INSTAGRAM</a></li>
                    <li><a href="#">TWITTER</a></li>
                    <li><a href="#">YOUTUBE</a></li>
                    <li><a href="#">TIKTOK</a></li>
                    <li><a href="#">WHATSAPP</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>SIGN UP FOR IDEAS UPDATES</h5>
                <p>By entering your email address below, you consent to receiving our newsletter with access to our latest collections, events and initiatives. More details on this are provided in our Privacy Policy.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Whatsapp Number">
                    </div>
                </form>
                <h5>FOR CORPORATE INQUIRIES</h5>
                <p>BY EMAIL</p>
            </div>
        </div>
