
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page ideas</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">


</head>
<body>

    <div class="menu" >
        <div class="icon-bar"style="background-color: black;">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
              <img src="/images/ideaslogo.jpeg" alt="Ideas Logo">
            </a>
        
            <!-- Main Links -->
            <a href="#"><i class="bi bi-star"></i> Ideas Rewards</a>
            <a href="#"><i class="bi bi-arrow-repeat"></i> Return & Exchanges</a>
            <a href="#"><i class="bi bi-truck"></i> Track Order</a>
            <a href="/admin/dashboard"><i class="bi bi-book"></i> Admin</a>
        
            
                <li class="nav-item currency-selector">
                  <img src="/images/pakistanlogo.png" alt="PKR"> PKR
                </li>
              </ul>
            </nav>
          </div>
        
        <nav class="navbar navbar-expand-lg  shadow" style="background-color: black;">
            <div class="container-fluid">
              <!-- Brand/Logo -->
              <a class="navbar-brand" href="#">Brand</a>
        
              <!-- Toggler -->
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                style="background-color: white;"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <!-- Navbar Links -->
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- Dropdown Menus -->
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="endOfSeasonDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      End Of Season Sale
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="endOfSeasonDropdown">
                      <li><a class="dropdown-item" href="#">Men</a></li>
                      <li><a class="dropdown-item" href="#">Women</a></li>
                      <li><a class="dropdown-item" href="#">Kids</a></li>
                    </ul>
                  </li>
        
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="limitedEditionDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Limited Edition
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="limitedEditionDropdown">
                      <li><a class="dropdown-item" href="#">Sale</a></li>
                    </ul>
                  </li>
        
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="lawn2024Dropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Lawn 2024
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="lawn2024Dropdown">
                      <li><a class="dropdown-item" href="#">Essential</a></li>
                      <li><a class="dropdown-item" href="#">Premium</a></li>
                      <li><a class="dropdown-item" href="#">Chunri</a></li>
                    </ul>
                  </li>
        
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="menDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Men
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="menDropdown">
                      <li><a class="dropdown-item" href="#">Shirts</a></li>
                      <li><a class="dropdown-item" href="#">Tees & Polos</a></li>
                      <li><a class="dropdown-item" href="#">Asian</a></li>
                    </ul>
                  </li>
        
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="womenDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Women
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="womenDropdown">
                      <li><a class="dropdown-item" href="#">Asian</a></li>
                      <li><a class="dropdown-item" href="#">Western</a></li>
                      <li><a class="dropdown-item" href="#">Fashion</a></li>
                    </ul>
                  </li>
        
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="jewelleryDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Shoes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="jewelleryDropdown">
                      <li><a class="dropdown-item" href="#">Men</a></li>
                      <li><a class="dropdown-item" href="#">Women</a></li>
                      <li><a class="dropdown-item" href="#">Kids</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
      
  
  