<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page ideas</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">


</head>
<body>

    <div class="menu">
        <div class="icon-bar">
          <a class="navbar-brand" href="#">
              <img src="/images/ideaslogo.jpeg" alt="Ideas Logo"> 
            </a>
          <a href="#"><i class="bi bi-star"></i> Ideas Rewards</a>
          <a href="#"><i class="bi bi-arrow-repeat"></i> Return & Exchanges</a>
          <a href="#"><i class="bi bi-truck"></i> Track Order</a>
          <a href="/adminpanel"><i class="bi bi-book"></i> admin</a>
          <nav class="navbar navbar-expand-lg">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 icon-links pe-0">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-search"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-person"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-cart"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-heart"></i></a>
              </li>
              <li class="nav-item currency-selector">
                <img src="/images/pakistanlogo.png" alt="PKR"> PKR
              </li>
            </ul>
          </nav>
        </div>
      
        
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid ">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="endOfSeasonDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    End Of Season Sale
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="endOfSeasonDropdown">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Women</a></li>
                    <li><a class="dropdown-item" href="#">kids</a></li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="limitedEditionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    cv
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="limitedEditionDropdown">
                    <li><a class="dropdown-item" href="/resume">resume</a></li>
                    
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="lawn2024Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Lawn 2024
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="lawn2024Dropdown">
                    <li><a class="dropdown-item" href="#">essential</a></li>
                    <li><a class="dropdown-item" href="#">premium</a></li>
                    <li><a class="dropdown-item" href="#">chunri</a></li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="menDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Men
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="menDropdown">
                    <li><a class="dropdown-item" href="/layouts/admin">admin</a></li>
                    <li><a class="dropdown-item" href="#">tees & polos</a></li>
                    <li><a class="dropdown-item" href="#">asian</a></li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="womenDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Women
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="womenDropdown">
                    <li><a class="dropdown-item" href="#">asian</a></li>
                    <li><a class="dropdown-item" href="#">western</a></li>
                    <li><a class="dropdown-item" href="#">fashion</a></li>
                  </ul>
                </li>
      
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="jewelleryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shoes
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="jewelleryDropdown">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Women</a></li>
                    <li><a class="dropdown-item" href="#">kids</a></li>
                  </ul>
                </li>
              </ul>
              
            
            </div>
          </div>
        </nav>
      </div>
      
  
  

  <div class="hero-section">
    <div class="hero-text">
        <img src="/images/2024_10_10_gents_fabric_wb.jpg" alt="">
    </div>
  </div>
  <div class="hero-section1">
    <div class="hero-text">
        <img src="/images/2024_10_10_home_wb.jpg" alt="">
    </div>
  </div>
  
  <div class="hero-section2">
    <div class="hero-text">
        <img src="/images/2024_10_10_winter_collection_vol2_01_wb.jpg" alt="">
    </div>
  </div>
  
  <div class="container text-center">
    <div class="above-footer-icons">
    <div class="row my-4">
        <div class="col">
            <i class="service-icon fas fa-shipping-fast"></i>
            <p>Shipping Charges</p>
            <p>Flat charges of PKR 99 on all orders.</p>
        </div>
        <div class="col">
            <i class="service-icon fas fa-headset"></i>
            <p>Support 24/7</p>
            <p>Contact available 24 hours a day, 7 days a week.</p>
        </div>
        <div class="col">
            <i class="service-icon fas fa-truck"></i>
            <p>Track Your Order</p>
            <p>Track your order for quick updates.</p>
        </div>
        <div class="col">
            <i class="service-icon fas fa-exchange-alt"></i>
            <p>Return & Exchanges</p>
            <p>Instructions to view the return and exchange policy.</p>
        </div>
        <div class="col">
            <i class="service-icon fas fa-globe"></i>
            <p>International Shipping</p>
            <p>Information about international shipping rates.</p>
        </div>
    </div>
  </div>
    
    <div class="row">
        <div class="col guarantee-badge">
            <i class="fas fa-ribbon"></i> PREMIUM QUALITY
        </div>
        <div class="col guarantee-badge">
            <i class="fas fa-undo"></i> EASY RETURN & EXCHANGE
        </div>
        <div class="col guarantee-badge">
            <i class="fas fa-truck"></i> FAST DELIVERY
        </div>
        <div class="col guarantee-badge">
            <i class="fas fa-lock"></i> SECURE PAYMENT
        </div>
    </div>
</div>


  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h5>ABOUT GULAHMED</h5>
                <ul class="list-unstyled">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">COMPANY</a></li>
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="#">STORE LOCATOR</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>MY ACCOUNT</h5>
                <ul class="list-unstyled">
                    <li><a href="#">LOGIN</a></li>
                    <li><a href="#">CREATE ACCOUNT</a></li>
                    <li><a href="#">ACCOUNT INFO</a></li>
                    <li><a href="#">ORDER HISTORY</a></li>
                    <li><a href="#">ORDER STATUS</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>CUSTOMER CARE</h5>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">SHIPPING POLICY</a></li>
                    <li><a href="#">CUSTOMER FEEDBACK</a></li>
                    <li><a href="#">REQUEST A CALL BACK</a></li>
                    <li><a href="#">COMPLAINT/INQUIRY FORM</a></li>
                    <li><a href="#">RETURN & EXCHANGE POLICY</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>FIND US ON</h5>
                <ul class="list-unstyled social-icons">
                    <li><a href="#">FACEBOOK</a></li>
                    <li><a href="#">INSTAGRAM</a></li>
                    <li><a href="#">TWITTER</a></li>
                    <li><a href="#">YOUTUBE</a></li>
                    <li><a href="#">TIKTOK</a></li>
                    <li><a href="#">WHATSAPP</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>SIGN UP FOR IDEAS UPDATES</h5>
                <p>By entering your email address below, you consent to receiving our newsletter with access to our latest collections, events and initiatives. More details on this are provided in our Privacy Policy.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Whatsapp Number">
                    </div>
                </form>
                <h5>FOR CORPORATE INQUIRIES</h5>
                <p>BY EMAIL</p>
            </div>
        </div>

       
             
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
