
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page ideas</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">


</head>
<body>

    <div class="menu" >
        <div class="icon-bar"style="background-color: black;">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
              <img src="/images/ideaslogo.jpeg" alt="Ideas Logo">
            </a>
        
            <!-- Main Links -->
            <a href="/"><i class="bi bi-star"></i> home</a>
            <a href="#"><i class="bi bi-arrow-repeat"></i> Return & Exchanges</a>
            <a href="/admin/dashboard"><i class="bi bi-truck"></i> admin</a>
            <a href="/auth/login"><i class="bi bi-book"></i> login</a>
        
            
                <li class="nav-item currency-selector">
                  <img src="/images/pakistanlogo.png" alt="PKR"> PKR
                </li>
              </ul>
            </nav>
          </div>
        
        </div>